@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">
);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: #4293eb;
}

.box{
    background: #fff;
    height: 212px;
    width: 300px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p{
    padding: 40px 20px;
}

.same-line {
    background: green;
}

input{
    padding: 20px;
    width: 50px;
}

button{
    /* padding: 20px; */
    width: 50px;
    text-align: center;
} 
