@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">
);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: #4293eb;
}

.box{
    background: #fff;
    height: 312px;
    width: 400px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

p{
    padding: 15px 20px;
    font-size: 20px;
    /* font-weight: 600; */
}

.same-line {
    /* background: green; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    /* margin: 50px; */
    /* padding: 20px; */
    width: calc(100% / 2);
    /* margin: 40px; */
    border: 20px;
    height: 50px;
    border-radius: 12px;
    padding: 0 20px;
    border: 2px solid #999;
}


button{
    background: #4293eb;
    border: none;
    padding: 0 20px;
    width: calc(100% / 2);
    color: #fff;
    /* margin: 40px; */
    height: 50px;
    /* width: 80px; */
    border-radius: 12px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
} 

